<div >
  <mat-toolbar class="main-bar mat-elevation-z2" >
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button> -->
    <spaa class="logo" routerLink="/">COMPRAS-DASH</spaa>
    <div class="example-button-row" class="main-text">
      <button mat-button routerLink="cadastrar">Nova Compra</button>
      <button mat-button routerLink="relatorios">Relatórios</button>
      <button mat-button routerLink="minhas-compras">Minhas Compras</button>
      <button mat-button routerLink="produtos">Produtos</button>
      <button mat-button routerLink="lojas">Lojas</button>
      <button mat-button routerLink="mensagens">Mensagens</button>
    </div>

  </mat-toolbar>
</div>
