<app-main></app-main>

<p class="title">BEM VINDO AO COMPRAS-DASH!</p>
<p class="dia-hora">22 Janeiro, 2023 &nbsp;| &nbsp;11:00am</p>

<div
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutAlign="start center"
  fxLayoutGap="16px"
>
  <div
    *ngFor="let item of itemsCadastro"
    fxFlex.mt-lg="30"
    fxFlex.lt-lg="48"
    fxFlex="30"
    class="item"
  >
    <mat-card class="example-card" [routerLink]="item.url">
      <mat-card-header> </mat-card-header>
      <img
        mat-card-image
        [src]="item.foto"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p class="item-title">
          {{ item.title }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
